## C github template
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


## Python ignores
*.pyc
*.pyw
*.so
.ipynb_checkpoints/
IMFWorkshop/reveal.js
vignettes/*.html
vignettes/*.pdf


## Other
*.DS_Store  # ignore osx fluff
*_cache/
*.sublime-workspace
*.ptex
*.msg
*_files/
Codebooks/
space/quantmacro.egg-info/
space/build/
*.hi
bin/
